@import url('https://fonts.googleapis.com/css2?family=Bevan&family=Farro:wght@300&family=Glory:ital,wght@1,800&family=Noto+Sans+Arabic:wght@200&family=Poppins:wght@200&family=Rowdies:wght@700&family=Yusei+Magic&display=swap');
::selection{
    background: #83e5fc;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Noto Sans Arabic' , Tahoma;
}
body{
    background: #03a9f4;
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100vh;
}
.container{
    width: 400px;
    background: #fff;
    padding:30px ;
    border-radius: 10px;
}
.container :where(textarea , button){
    outline: 0;
    border: 0;
    width: 100%;
    padding: 15px 10px;
    border-radius: 5px;
    font-size: 16px;
    margin: 5px 0;
    -webkit-text-stroke: 1px;
}
.container textarea{
    border: 1px solid #999;
}
.container button{
    background: #83e5fc;
    transition:all 1s ;
}